.team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
  border-bottom: 2px solid black;
  padding-bottom: 1em;

  &__name,
  &__wins,
  &__rating {
    flex: 1 1 auto;
    width: 20%;
    margin: 0;
  }

  &__actions {
    flex: 2 1 auto;
    display: flex;
    justify-content: space-around;
  }
}
